.login-container {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: var(--bs-body-bg);
}

@media (min-width: 3500px) {
  html {
    font-size: 150%;
  }
}

.toggle-darkmode {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

footer a.text-white:hover {
  color: rgb(146, 148, 255) !important; 
}