body {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.form-box {
  background-color: var(--bs-secondary-bg); 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.08);
}

.checkbox-group legend {
  color: var(--bs-primary);
}

.login-link a {
  color: var(--bs-primary);
}


@media (min-width: 1200px) {
  .form-box {
    max-width: 700px;
  }
}